html{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #191919;
}
body{
    
    background: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.navigation{
    background: #EADCDC;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.navigation a{
    color: #191919;
    background: #DCC2A3;
    padding: 15px;
    border-radius: 5px;
}

main{
    margin-top: 100px;
    background: #EADCDC;
    border-radius: 5px;
    
    padding: 30px;
}

.exercise{
    background: #DCC2A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    align-self: center;

    color: #191919;
    border-radius: 5px;
    padding: 0 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.task{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.exercise_sentence{
    border: 10px solid #191919;
    padding: 30px;
    border-radius: 5px;

}

#input_value,
#input_fact,
#input_firstValue,
#input_secondValue,
#input_checkFirstChar{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    background: #EADCDC;
}

#reverse_button,
#fact_button,
#larger_button,
#join_button,
#getMonth_button,
#checkFirstChar_button,
#smile_button{
    position: relative;
    padding: 10px 20px;
    background: #EADCDC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 5px solid #191919;    
}
#smile_button{
    margin: 30px 0;
}
#reverse_button:active,
#fact_button:active,
#larger_button:active,
#join_button:active,
#getMonth_button:active,
#checkFirstChar_button:active,
#smile_button:active
{
    top: 5px;
    padding-bottom: 15px;
border-bottom: none;
}
#value_result,
#fact_result,
#larger_result,
#join_result,
#getMonth_result,
#checkFirstChar_result,
#smile_result{
    padding: 10px;
    background: #EADCDC;
   
    color: #191919;
    border-radius: 5px;
    margin-left: 15px;
    
}

.output{
    margin-top: 30px;
   
}